*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/keystore.properties
/c3-staging.jks.old
/c3-staging.jks
app/staging
app/c3_specialist_firebase_credential.json
app/dev
app/qa
app/qa_new
app/production
/.idea
imageprocessing/build
openCvLibrary480/.cxx
openCvLibrary480/build
/lib_ai_model/build/
/openCvLibrary480/build/