<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <!-- The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <permission
        android:name="${contentProviderPermission}"
        android:protectionLevel="normal" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />

            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>

        <package android:name="com.facebook.katana" />
    </queries>

    <application
        android:name=".C3SpecialistApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        tools:targetApi="s">

        <!-- The API key for Google Maps-based APIs is defined as a string resource.
              (See the file "res/values/google_maps_api.xml").
              Note that the API key is linked to the encryption key used to sign the APK.
              You need a different API key for each encryption key, including the release key that is used to
              sign the APK for publishing.
              You can define the keys for the debug and release targets in src/debug/ and src/release/. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- ADD API_KEY HERE and make sure you are connected to the Internet before the app is launched -->
        <meta-data
            android:name="com.dji.sdk.API_KEY"
            android:value="${djiSdkKey}" />

        <activity
            android:name=".splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dashboard.SearchActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".phoneverification.PhoneVerificationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".datarecords.DataRecordsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.nayan.c3v2.login.LoginActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" /> <!-- Facebook Login -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile.details.PersonalInfoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".introscreen.IntroScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.details.BankDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.details.PhotoIdDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".profile.details.PanDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".profile.details.ResetPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".developerreview.DeveloperReviewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workflowsteps.WorkFlowStepsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".referral.ReferralActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.invoice.InvoiceActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workflows.WorkFlowsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".managerworksummary.ManagerWorkSummaryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".specialistworksummary.SpecialistWorkSummaryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".performance.specialistperformance.SpecialistPerformanceActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".incorrectrecordsdetail.IncorrectJudgmentsDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".incorrectrecords.IncorrectRecordsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".incorrectrecordsdetail.IncorrectAnnotationsDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".performance.managerperformance.ManagerPerformanceActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".incorrectrecordsdetail.IncorrectReviewsDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="co.nayan.canvas.CanvasActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CanvasTheme" />
        <activity
            android:name="co.nayan.canvas.sandbox.SandboxReviewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.nayan.canvas.sandbox.SandboxActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CanvasTheme" />
        <activity
            android:name="co.nayan.review.recordsgallery.ReviewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.nayan.review.recordsreview.ReviewModeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/CanvasTheme" />
        <activity
            android:name="co.nayan.review.incorrectreviews.IncorrectReviewsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.nayan.review.recorddetail.RecordDetailActivity"
            android:exported="true" />
        <activity
            android:name=".driversetting.DriverSettingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driverworksummary.DriverWorkSummaryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videogallery.LearningVideosPlaylistActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="co.nayan.tutorial.LearningVideoPlayerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".performance.teamperformance.MembersPerformanceActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".performance.teamperformance.TeamMembersPerformanceActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".team.teammember.TeamMembersActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".team.request_member.RequestNewMemberActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".performance.leaderperformance.LeaderPerformanceActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".record_visualization.video_type_record.VideoTypeRecordActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".performance.teamperformance.TeamMemberPerformanceActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".record_visualization.RecordHistoryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".faq.FAQActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".faq.faq_data_details.FaqDataDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".incorrect_records_wf_steps.IncorrectRecordsWfStepsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".illustration.IllustrationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen_sharing.ScreenSharingActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/ScreenSharing" />
        <activity
            android:name=".screen_sharing.users.UsersActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".surgeMap.DriverSurgeMapActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="sensor"
            android:supportsPictureInPicture="true"
            android:taskAffinity="${applicationId}" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="General Updates" />

        <service
            android:name=".notification.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".screen_sharing.MeetingService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:stopWithTask="true" />

        <receiver android:name=".screen_sharing.MeetingNotificationActionReceiver" />
        <provider
            android:name=".AccessTokenProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="${contentProviderPermission}" />

        <!-- Declaring broadcast receiver for BOOT_COMPLETED event. -->
        <receiver
            android:name=".receiver.MyBootCompleteReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".receiver.HoverRestartJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
</manifest>